.dropdownContentItem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 18px;
}

a {
  text-decoration: none;
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: rgb(67, 67, 65);
}
