.currencyInputDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 30px;
  position: relative;
}
.currencyInputDiv input {
  width: 220px;
  height: 23px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  padding: 13px 17px 12px 27px;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(20, 30, 55);
  border-radius: 6px;
}
.currencyInputDiv label {
  display: inline-block;
  font-weight: 600;
  color: rgb(20, 30, 55);
  margin-bottom: 5px;
  margin-left: 5px;
}
.symbol{
  position:absolute;
  top:43px;
  left: 6px;
  font-size: 16px;
  font-weight: 500;
  padding-right: 5px;
}
.fromClose{
  position: absolute;
  font-size: 15px;
  color: rgb(68, 66, 66);
  top: 45px;
  left: 222px;
}
