.flagsStyle {
  border-radius: 4px;
  margin: 2px 8px 2px 0px;
  width: 15%;
}
.dropDownListDiv1 {
  width: 237px;
  height: 250px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 12px;
  position: absolute;
  top: 111%;
  left: 0%;
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  background-color: white;
}
.dropDownListDiv2 {
  width: 237px;
  height: 250px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 12px;
  position: absolute;
  top: 111%;
  left: 0%;
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  background-color: white;
}
.currencyPart{
  display: flex;
  flex-direction: row;
  margin: 8px 2px;
  align-items: center;
  cursor: pointer;
}
.currencyPart:hover{
  background-color: rgb(200, 200, 223)
}
.currencyName{
  font-size: 15px;
  font-weight: 400;
  color: rgb(42, 39, 53);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currencyName span{
  margin: 0px;
}
.currencyName p{
  margin: 0px;
  font-size: 12px;
  color: rgb(53, 52, 52);
}
