.convertBox {
    /* display: grid;
    gap: 4px 16px;
    grid-auto-flow: column;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr);
    grid-template-rows: auto [input-row-start] auto [input-row-end] auto; */
}