.alertsComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
}
.subscribePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.alertImg {
  margin: 20px;
  width: 60%;
}
.alertInput {
  height: 24px;
  margin: 10px 3px 40px 0px;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  padding: 5px;
  color: rgb(20, 30, 55);
  background: none;
}
.alertInputEnter {
  height: 24px;
  margin: 10px 3px 3px 0px;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  padding: 5px;
  color: rgb(20, 30, 55);
  background: none;
}
.subscribeInput {
  width: auto;
  cursor: pointer;
  margin: 0px;
  padding: 10px 14px 28px 14px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  background: rgb(0, 113, 235);
  border: 2px solid #0071eb;
  border-radius: 8px;
  text-align: center;
}
